* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.transak {
  background-color: #1461da;
  color: white;
  font-weight: 300;
  font-size: medium;
  padding: 10px 16px;
  border: 1px solid white;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease-in-out;
  text-decoration: none;
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  cursor: pointer;
}

.transak:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text {
  margin: 8px;
}
